[submodule "config/tmux/plugins/tmux-sensible"]
	path = config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/tmux/plugins/tmux-tokyo-night"]
	path = config/tmux/plugins/tmux-tokyo-night
	url = https://github.com/fabioluciano/tmux-tokyo-night/tree/main
[submodule "config/tmux/plugins/vim-tmux-navigator"]
	path = config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
